@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;700&display=swap');

:root {
  --main_color: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Heebo', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 90px;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 20px 40px;
  z-index: 100;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0);
  align-items: center;
  transition: all 0.5s ease;
}

header.display {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 10px 0px #000000; 
  box-shadow: 0px 0px 10px 0px #000000;

}

header .logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}

header .menu ul li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 20px;
}

header .dx-elements {
  position: relative;
  display: flex;
  align-items: center;
}

header .dx-elements .cart-empty{
  position: relative;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  background-image: url('https://img.icons8.com/fluency-systems-regular/48/000000/shopping-cart.png');
  background-size: cover;
  z-index: 200;
  cursor: pointer;
}

header .dx-elements .cart{
  position: relative;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  background-image: url('https://img.icons8.com/fluency-systems-regular/48/000000/shopping-cart.png');
  background-size: cover;
  z-index: 200;
  cursor: pointer;
}

header .dx-elements .cart::after{
  content: attr(data-after);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
  border-radius: 15px;
  background-color: #000;
  color: #fff;
}

header .dx-elements .cart-list{
  position: absolute;
  right: -20px;
  top: 42px;
  width: 450px;
  max-height: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 10px 10px 0px #0000007c; 
  box-shadow: 0px 10px 10px 0px #0000007c;
  overflow: hidden;
  transition: all 0.35s ease;
}

header .dx-elements .cart-list p{
  padding: 20px 40px;
}

header .dx-elements .cart-list.show{
  max-height: 1000px;
}


header .dx-elements .cart-list .cart-item{
  display: grid;
  grid-template-columns: 6% 52% 6% 14% 14%;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

header .dx-elements .cart-list .cart-item button{
  height: 15px;
  width: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 8px;
}

header .dx-elements .cart-list .cart-total{
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 20px 0;
}

header .dx-elements .hamburger{
  position: relative;
  margin-left: 30px;
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: none;
}

header .dx-elements .hamburger::before{
  content: '';
  position: absolute;
  top: 5px;
  height: 2px;
  width: 100%;
  background-color: #000;
  border-radius: 5px;
  transition: all 0.35s ease;
}

header .dx-elements .hamburger.show::before{
  transform: rotateZ(45deg);
  top: 9px;
}

header .dx-elements .hamburger::after{
  content: '';
  position: absolute;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background-color: #000;
  border-radius: 5px;
  transition: all 0.35s ease;
}

header .dx-elements .hamburger.show::after{
  transform: rotateZ(-45deg);
  bottom: 9px;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .__hero{
  position: relative;
  height: 100vh;
  width: 100%;
}

.wrapper .__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255,0) 15%);
}

.wrapper .__overlay .__desc{
  position: absolute;
  padding: 20px;
  text-align: right;
  bottom: 20%;
  right: 0px;
  display: block;
  width: auto;
  color: #fff;
  background-color: #000;
}

.wrapper .__overlay .__desc h2{
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.wrapper .__overlay .__desc p{
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.wrapper .__img{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.35s ease;
}

.zero_opacity{
  opacity: 0;
}

.zero_visibility{
  visibility: hidden;
}

#catalog, #testimonials, #contact{
  height: 64px;
}

.wrapper__titles {
  display: flex;
  justify-content: center;
}

.wrapper__titles h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 20px;
}

.wrapper__titles h4 {
  font-size: 0.9rem;
}

.wrapper__products {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper__filters{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #000;
  padding: 20px;
  color: #fff;
  font-weight: lighter;
}

.wrapper__filters input,
.wrapper__filters select {
  padding: 5px;
  border: none;
}

.wrapper__filters button {
  border: none;
  height: 25px;
  width: 25px;
  margin-left: 1px;
  background-color: #fff;
  background-image: url(https://img.icons8.com/ios-filled/50/000000/search--v1.png);
  background-size: cover;
  color: transparent;
  cursor: pointer;
}

.loading {
  margin: 20px auto;
  text-align: center;
  border: 2px solid #000;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.loading img{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px 10px;
  padding: 10px;
  width: 280px;
  height: 400px;
  border: 2px solid #000;
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.35s ease;
  opacity: 1;
}

.product.hidden {
  opacity: 0;
  transform: scale(0);
}

.product:hover {
  background-size: 280px;
}

.product .product-overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.product:hover .product-overlay {
  padding: 10px 10px;
  max-height: 1000px;
}

.product .add-to-cart-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .add-to-cart-div input{
  width: 40px;
  height: 34px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.product .add-to-cart-div input::-webkit-outer-spin-button,
.product .add-to-cart-div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.product .add-to-cart-div input[type=number] {
  -moz-appearance: textfield;
}


.product .product-overlay .qty-btn{
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.35s ease;
  margin: 0px;
}

.product .product-overlay button{
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 12px;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 0.35s ease;
  margin: 10px;
}

.product .product-overlay button:hover{
  background-color: transparent;
  color: #000;
}

.product .product-overlay h4{
  font-weight: lighter;
}

.product .product-overlay h5{
  font-size: 18px;
  margin: 10px;
}


.cart-modal{
  position: fixed;
  z-index: 101;
  bottom: 20px;
  right: -2000px;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  opacity: 0;
}

.cart-modal.show{
  animation: modal 0.5s ease;
  animation-direction: alternate;
  right: 20px;
  opacity: 1;
}

@keyframes modal {
  0% {
      opacity: 0;
      right: 20px;
  }
  1% {
      opacity: 0;
      right: 20px;
  }
  100% {
      opacity: 1;
      right: 20px;
  }
}



@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.wrapper_testimonials {
  display: flex;
  overflow-x: auto;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.wrapper_testimonials::-webkit-scrollbar {
  width: 0em;
}

.wrapper_testimonials .testimonial{
  border-radius: 300px;
  background-color: #000;
  text-align: center;
  color: #fff;
  margin: 20px;
  padding: 20px;
}

.wrapper_testimonials .testimonial img{
  border-radius: 100%;
  width: 150px;
}

.wrapper_testimonials .testimonial .name{
  margin-top: 10px;
  font-weight: lighter;
}

.wrapper_testimonials .testimonial .designation{
  text-transform: uppercase;
  font-size: 10px;
}

.wrapper_testimonials .testimonial .rating{
  font-weight: bold;
  margin: 10px 0 0 0;
  font-size: 26px;
}

.wrapper_testimonials .testimonial .rating .star{
  width: 20px;
  height: 20px;
  background-image: url(https://img.icons8.com/windows/32/000000/star--v1.png);
  background-size: cover;
  filter: invert();
  display: inline-block;
}

.wrapper_testimonials .testimonial .message{
  font-size: 16px;
  text-overflow: ellipsis;
}

.message::before{
  content: '';
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url(https://img.icons8.com/ios/50/000000/quote-left.png);
  background-size: cover;
  color: #fff;
  filter: invert(1);
  margin-right: 5px;
}

.message::after{
  content: '';
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url(https://img.icons8.com/ios/50/000000/quote-right.png);
  background-size: cover;
  color: #fff;
  filter: invert(1);
  margin-left: 5px;
}

.parallax {
  height: 600px;
  background-image: url(https://images.pexels.com/photos/932401/pexels-photo-932401.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
  transition: all 0.5s ease-out;
}

.parallax .parallax__text{
  font-size: 50px;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  color: #fff;
}



.wrapper_contacts{
  background-color: #ccc;
  padding: 0 20px 50px 20px;
}

.wrapper_contacts form{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.wrapper_contacts form label{
  font-weight: lighter;
  margin: 20px 0 0 0;
}

.wrapper_contacts form input{
  padding: 10px 10px;
  border: none;
}

.wrapper_contacts form textarea{
  padding: 10px 10px;
  font-family: 'Heebo', sans-serif;
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
}

.wrapper_contacts form button{
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 12px;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 0.35s ease;
  margin: 10px 0;
}

.wrapper_contacts form button:hover{
  color: #000;
  background-color: #fff;
}

.contact-modal {
  position: fixed;
  width: 300px;
  left: -3000px;
  top: -3000px;
  z-index: 99999;
  opacity: 0;
}

.contact-modal.show {
  animation: contact-modal 0.5s ease;
  animation-direction: alternate;
  opacity: 1;
  left: calc(100vw/2 - 150px);
  top: calc(100vh/2 - 54px);
}

@keyframes contact-modal {
  0% {
      opacity: 0;
      left: calc(100vw/2 - 150px);
      top: calc(100vh/2 - 54px);
  }
  1% {
      opacity: 0;
      left: calc(100vw/2 - 150px);
      top: calc(100vh/2 - 54px);
  }
  100% {
      opacity: 1;
      left: calc(100vw/2 - 150px);
      top: calc(100vh/2 - 54px);
  }
}


footer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-weight: lighter;
  font-size: 12px;
}


@media all and (max-width: 990px) {
  header {
    padding: 20px 0px;
  }
  header .dx-elements .hamburger{
    display: block;
  }
  header .menu{
    position: absolute;
    padding: 0 0;
    background-color: rgba(255, 255, 255, 0.9);
    top: 60px;
    width: 100%;
    -webkit-box-shadow: 0px 10px 10px 0px #0000007c; 
    box-shadow: 0px 10px 10px 0px #0000007c;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.35s ease;
  }

  header .menu.transparent{
    background-color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0px 10px 10px 0px transparent; 
    box-shadow: 0px 10px 10px 0px transparent; 
  }

  header .menu.show{
    padding: 20px 0;
    max-height: 1000px;
    overflow: hidden;

  }

  header .menu ul{
    width: 90%;
    margin: auto;
  }

  header .menu ul li{
    text-align: center;
    margin: 0 13px;
    padding: 0;
    font-size: 10px;
  }

  header .dx-elements{
    position: static;
  }

  header .dx-elements .cart-list {
    top: 60px;
    width: 100vw;
    left: 0px;
  }

  .wrapper .__overlay{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255,0) 25%);
  }

  .wrapper_testimonials {
    width: 100%
  }

  .wrapper_testimonials .testimonial{
    width: 100vw;
  }

  .cart-modal.show{
    right: 20px;
    left: 20px;
  }

  .parallax .parallax__text{
    font-size: 20px;
  }

}